.card {
    min-width: 80%;
}
  
.complaint-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
  
a {
    cursor: pointer;
}

.mat-row {
    background-color: lightgray;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding: 0 24px;
    width: 70px;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
    cursor: pointer;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}