<form #complaintdetail="ngForm" (ngSubmit)="onClickSubmit(complaintdetail.value)">

        <div *ngIf="complaint">
            <div class="complaint-detail-header">
                             <!-- grid laytout -->
                             <mat-grid-list cols="2" rowHeight="360px" class="complaint">
                                 <!-- seller and complaints reference information -->
                                <mat-grid-tile style="display: block !important;">
                                        <mat-card class="example-card" style="margin: 16px;min-height: 100px;">
                                                <mat-card-content>
                                    <div class="complaint-reference-info" style="display: block;">
                                      <mat-grid-list cols="2" rowHeight="17:1">
                                              <mat-grid-tile>
                                                  <label>Reference to invoice no:</label>
                                              </mat-grid-tile>
                                              <mat-grid-tile>
                                                  <input name="referenceNumber" matInput placeholder="reference number" [(ngModel)]="complaint.referenceNumber">
                                              </mat-grid-tile>
                                              <mat-grid-tile>
                                                  <label>Invoice date:</label>
                                              </mat-grid-tile>
                                              <mat-grid-tile>
                                                  <mat-form-field>
                                                      <input matInput
                                                            name="invoiceDate"
                                                            [matDatepicker]="invoiceDate"
                                                            placeholder="invoice date"
                                                            [min]="minInvoiceDate"
                                                            (dateChange)="invoiceDateChangeEvent('change', $event)"
                                                            [(ngModel)]="complaint.invoiceDate">
                                                      <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                                                      <mat-datepicker
                                                            #invoiceDate
                                                            (yearSelected)="chosenYearHandler($event)"
                                                            (monthSelected)="chosenMonthHandler($event, issueDate)"
                                                            panelClass="invoiceDate-picker"></mat-datepicker>
                                                  </mat-form-field>
                                              </mat-grid-tile>
                                          </mat-grid-list>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card" style="margin: 16px;min-height: 150px;">
                                    <mat-card-content>
                                    <div class="seller-info" style="display: block;">

                                            <mat-grid-list cols="2" rowHeight="12:1">
                                                    <mat-grid-tile>
                                                        <label>Seller:</label>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                    <mat-form-field class="example-full-width" style="padding: 4px 0 4px 0;">
                                                        <input name="supplierName" matInput placeholder="supplier name"
                                                            [matAutocomplete]="autoSupplierName" [(ngModel)]="complaint.supplier.name"
                                                            (ngModelChange)="filteredSuppliers = filterSuppliers(complaint.supplier.name)">

                                                        <mat-autocomplete #autoSupplierName="matAutocomplete">
                                                            <mat-option *ngFor="let supplier of filteredSuppliers" [value]="supplier.name">
                                                                <span style="font-size: 12px;">{{ supplier.name }}</span>
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <label>Registry no:</label>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                    <mat-form-field class="example-full-width" style="padding: 4px 0 4px 0;">
                                                        <input name="supplierRegistryNumber" matInput placeholder="supplier registry number" [(ngModel)]="complaint.supplier.registryNumber">
                                                    </mat-form-field>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <label>Address:</label>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                    <mat-form-field class="example-full-width" style="padding: 4px 0 4px 0;">
                                                        <input name="supplierAddress" matInput placeholder="supplier address" [(ngModel)]="complaint.supplier.address">
                                                    </mat-form-field>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <label>Email:</label>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                    <mat-form-field class="example-full-width" style="padding: 4px 0 4px 0;">
                                                        <input name="supplierEmail"
                                                            matInput
                                                            placeholder="supplier email"
                                                            [formControl]="supplierEmailFormControl"
                                                            [errorStateMatcher]="matcher"
                                                            [(ngModel)]="complaint.supplier.email">
                                                        <mat-error *ngIf="supplierEmailFormControl.hasError('required')">
                                                            Email is <strong>required</strong>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </mat-grid-tile>
                                                </mat-grid-list>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                                </mat-grid-tile>
                                 <!-- buyer information -->
                                <mat-grid-tile>
                                        <mat-card class="example-card" style="margin: 16px;max-height: 334px;">
                                                <mat-card-content>
                                                <div class="seller-info" style="display: block;min-height: 200px;">
                                                        <mat-grid-list cols="2" rowHeight="15:1">
                                                                <mat-grid-tile>
                                                                    <label>Complaint no:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>{{complaint.location.value}} - {{complaint.complaintId}}</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Complaint issue date:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                  <mat-form-field>
                                                                    <input matInput
                                                                        name="issueDate"
                                                                        [matDatepicker]="issueDate"
                                                                        placeholder="invoice date"
                                                                        [min]="minIssueDate"
                                                                        [(ngModel)]="complaint.issueDate">
                                                                    <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
                                                                    <mat-datepicker
                                                                    #issueDate
                                                                    (yearSelected)="chosenYearHandler($event)"
                                                                    (monthSelected)="chosenMonthHandler($event, issueDate)"
                                                                    panelClass="issueDate-picker"></mat-datepicker>
                                                                  </mat-form-field>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile></mat-grid-tile>
                                                                <mat-grid-tile></mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Complaint author:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>{{complaint.location.value}}</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Buyer:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile *ngIf="complaint.buyer">
                                                                    <label>{{complaint.buyer.name}}</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Registry no:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile *ngIf="complaint.buyer">
                                                                    <label>{{complaint.buyer.registryNumber}}</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Address:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile *ngIf="complaint.buyer">
                                                                    <label>{{complaint.buyer.address}}</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <label>Complaint status:</label>
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <mat-select [(ngModel)]="complaint.complaintStatus.name" name="complaintStatus" style="font-weight: bold;">
                                                                        <mat-option *ngFor="let status of complainStatuses; let i = index" [value]="status.name">
                                                                            {{ status.name | titlecase }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-grid-tile>
                                                            </mat-grid-list>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                </mat-grid-tile>
                            </mat-grid-list>
                <div class="complaint-detail-info-row" style="text-align: right;margin: 8px 16px;">
                    <button type="submit" mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </div>

    <mat-card class="example-card" style="margin: 16px;">
    <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Complaint details</mat-card-title>
    </mat-card-header>
        <mat-card-content>
            <div class="complaint-detail-grid">
            <ag-grid-angular style="width: 100%; min-height: 25vw;height: 100%;display: grid;"
                class="ag-theme-balham complaint-detail-rows-grid"
                [defaultColDef]="defaultColDef"
                [pagination]="false"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [components]="components"
                [frameworkComponents]="frameworkComponents"
                [animateRows]="true"
                [rowHeight]="rowHeight"
                [rowSelection]="rowSelection"
                (filterChanged)="filterChanged($event)"
                (gridReady)="onGridReady($event)"
                (columnResized)="onColumnResized($event)"
                (cellValueChanged)="onCellValueChanged($event)"
                (cellEditingStopped)="cellEditingStopped($event)">
            </ag-grid-angular>
            <ul class="complaint-detail-grid-buttons" *ngIf="complaint">
                <li *ngIf="complaint.complaintStatus.name==='draft'">
                    <div class="mat-raised-button mat-button-base mat-primary" mat-raised-button color="primary" (click)="onAddRow()">Add Row</div>
                </li>
                <li *ngIf="complaint.complaintStatus.name==='draft'">
                    <div class="mat-raised-button mat-button-base mat-primary" mat-raised-button color="primary" (click)="onRemoveSelected()">Remove Selected Row(s)</div>
                </li>
            </ul>
        </div>
       </mat-card-content>
    </mat-card>
</form>
