<app-draft-list (complaintStatusUpdateOutput)="complaintStatusUpdated($event)"></app-draft-list>
<app-proceed-list (complaintStatusUpdateOutput)="complaintStatusUpdated($event)"></app-proceed-list>
<app-resolved-list (complaintStatusUpdateOutput)="complaintStatusUpdated($event)"></app-resolved-list>