<form (ngSubmit)="apply()">
  <h2 mat-dialog-title>Filter for {{ displayName }}</h2>

  <mat-dialog-content>
  
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Containing"
             name="value"
             [(ngModel)]="model.value">
    </mat-form-field>
 
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Clear</button>
    <button mat-button type="submit">Apply</button>
  </mat-dialog-actions>
</form>