.app-title {
  color: gold;
}
a.mat-button {
  color: #000;
  text-decoration: none;
}
.app-title a,
.app-title a:visited {
  color: white;
}
.app-title a:hover {
  color: wheat;
}
.login-wrapper {
  flex: 1 1 auto;
  text-align: right;
}