<header class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="app-title">
        <a routerLink="/">Complaint</a>
      </span>

      <button *ngIf="dataService.currentUserValue" mat-button routerLink="/">Dashboard</button>
      <button *ngIf="dataService.currentUserValue && (dataService.currentUserValue.location !== 'Headquarter')" mat-button routerLink="/complaint-create">Create</button>

      <span class="login-wrapper">
        <button *ngIf="!dataService.currentUserValue" mat-button routerLink="/account/login">Login</button>
        <button *ngIf="dataService.currentUserValue" mat-button (click)="logout()">Logout</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
