<table mat-table [dataSource]="dataSource"
       matSort matSortDirection="asc">

  <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ prepareColumnName(column.name, i) }}"
                [sticky]="column.sticky === 'start'" [stickyEnd]="column.sticky === 'end'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ prepareColumnName(column.name, i) }}" [disabled]="!column.name || column.sort === false">
      {{ column.displayName }}
      <button class="mat-sort-header-button" *ngIf="showFilters && canFilter(column)"
              (click)="filter(column); $event.stopPropagation();"
              matTooltip="{{ getFilterDescription(column) }}" matTooltipDisabled="{{ !getFilterDescription(column) }}">
        <mat-icon color="{{ isFiltered(column) ? 'primary' : 'default' }}">filter_list</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row"><mdt-table-cell [row]="row" [column]="column"></mdt-table-cell></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: [stickyHeader]"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [hidden]="!isUsingInternalPaginator()" [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>