<div id="login-page">
  <app-alert></app-alert>
  <form aria-label="Login form" (ngSubmit)="login()">
    <mat-card class="login-card" role="login">
      <mat-card-header aria-hidden="true">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput appAutoFocus placeholder="Username" [(ngModel)]="username" name="username" required />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                  required />
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>