/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
  }
  
  body.overlay {
    background-color: silver;
    z-index: -1;
  }
  
  /* material overrides */
  
  .mat-card-header-text {
    margin: 0 !important; /* override 16px left/right margin */
  }
  
  #login-page .mat-form-field-infix {
    width: 22rem !important;
  }

  .mat-grid-tile .mat-figure {
    display: block !important; /* or whichever you need */
  }
  .mat-form-field-infix {
    width: 300px !important;
    /*width: 300px !important;
    height: 30px;
    margin: 0;
    padding: 0 !important;*/
}
.complaint-detail-grid-buttons {
  list-style-type: none;
  text-align: right;
}
.complaint-detail-grid-buttons li {
  display: inline-block;
  margin-left: 20px;
}

.ag-theme-balham .ag-cell.ag-cell-inline-editing {
  background-color: none !important;
}
.ag-theme-balham .ag-header {
  background-color: #3f51b5 !important;
  color: rgb(255, 255, 255) !important;
}
.ag-theme-balham .ag-icon {
  font-size: 18px !important;
  color: #ffffff !important;
}
.mat-card-avatar {
  display: none !important;
}
.mat-grid-tile {
  /* height: 100% !important; */
  overflow: inherit !important; 
}


/* Override jquery ui datetime picker */
.ui-widget-header {
  border: 1px solid #ffffff !important;
  background: #ffffff !important;
  color: #000 !important;
  font-weight: bold;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #3245af !important;
  background: #3f51b5 !important;
  color: #ffffff !important;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
  width: 0px !important;
  height: 0px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #3f51b5 !important;
  z-index: 1000 !important;
  background: none !important;
  border-left: none !important;
}
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next {
  right: 2px;
  width: 0px !important;
  height: 0px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #3f51b5 !important;
  z-index: 1000 !important;
  background: none !important;
  border-right: none !important;
}
.ui-icon, .ui-widget-content .ui-icon {
  background-image: none !important;
}

.cell-wrap-text {
  white-space: normal !important;
}