.card {
    min-width: 80%;
}
  
.complaint-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
  
a {
    cursor: pointer;
}
a, a:visited {
    color: black;
}

.not-valid-date,
.not-valid-complaint-item-type-present {
    background-color: #f95c5c !important;
    color: white !important;
    font-weight: bold !important;
}
.not-valid-date:hover,
.not-valid-complaint-item-type-present:hover {
    background-color: #f77b7b !important;
}

.not-valid-date a,
.not-valid-date a:visited,
.not-valid-complaint-item-type-present a,
.not-valid-complaint-item-type-present a:visited {
    color: white !important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding: 0 24px;
    width: 70px;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
    cursor: pointer;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}